{% extends "base.html" %}
<body>
    {% block conteudo %}
    <div id="tituloExperiencias">
        <h1 id="OutrasExp">Experiências</h1>
    </div>
    
    <div id="curiosidades">
        <div id="linhaCuriosidade">
            <img id='imagemCuriosidade' src="../static/public/placeholderImagem.png" alt="placeholderImagem">
            <div id="textoCuriosidade">
                <h1 id="h1Curiosidade">Experiência 1</h1>
                <p id="pCuriosidade">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore quasi laborum velit provident voluptatem aliquid iure deserunt omnis magnam qui laudantium nihil maxime dignissimos, autem numquam commodi voluptatibus. Quia, laborum.</p>
            </div>
        </div>
        <div id="linhaCuriosidade">
            <div id="textoCuriosidade">
                <h1 id="h1Curiosidade">Experiência 2</h1>
                <p id="pCuriosidade">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore quasi laborum velit provident voluptatem aliquid iure deserunt omnis magnam qui laudantium nihil maxime dignissimos, autem numquam commodi voluptatibus. Quia, laborum.</p>
            </div >
            <img id='imagemCuriosidade' src="../static/public/placeholderImagem.png" alt="placeholderImagem">
            
        </div>
        <div id="linhaCuriosidade">
            <img id="imagemCuriosidade" src="../static/public/placeholderImagem.png" alt="placeholderImagem">
            <div id="textoCuriosidade">
                <h1 id="h1Curiosidade">Experiência 3</h1>
                <p id="pCuriosidade">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore quasi laborum velit provident voluptatem aliquid iure deserunt omnis magnam qui laudantium nihil maxime dignissimos, autem numquam commodi voluptatibus. Quia, laborum.</p>
            </div>
        </div>
        <div id="linhaCuriosidade">
            <div id="textoCuriosidade">
                <h1 id="h1Curiosidade">Experiência 4</h1>
                <p id="pCuriosidade">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore quasi laborum velit provident voluptatem aliquid iure deserunt omnis magnam qui laudantium nihil maxime dignissimos, autem numquam commodi voluptatibus. Quia, laborum.</p>
            </div>
            <img id="imagemCuriosidade" src="../static/public/placeholderImagem.png" alt="placeholderImagem">
        </div>
    </div>
    {% endblock %}
</body>
</html>