{% extends "base.html" %}
<body>
    {% block conteudo %}
    <div id="tituloExperiencias">
        <h1 id="OutrasExp">Experiências</h1>
    </div>
    
    <div id="curiosidades">
        <div id="linhaCuriosidade">
            <img id='imagemCuriosidade' src="../static/public/DeDH.png" alt="placeholderImagem">
            <div id="textoCuriosidade">
                <h1 id="h1Curiosidade">Estágio de criação de conteúdo na DeDH</h1>
                <p id="pCuriosidade">Estagiei durante 2 anos como criador de conteúdo audiovisual na Diretoria Executiva de Direitos Humanos da UNICAMP.</p>
            </div>
        </div>
        <div id="linhaCuriosidade">
            <img id='imagemCuriosidade' src="../static/public/UNICAMP_logo.png" alt="placeholderImagem">
            <div id="textoCuriosidade">
                <h1 id="h1Curiosidade">Sou formado em outra área</h1>
                <p id="pCuriosidade">Sou formado na área da comunicação, fiz Midialogia na UNICAMP. Entrei em contato com a programação na minha antiga faculdade e decidi mudar de área.</p>
            </div >
            
            
        </div>
        
    </div>
    {% endblock %}
</body>
</html>