{% extends "base.html" %}

<body>
    {% block conteudo %}
    
    <div id="tituloExperiencias">
        <h1>Trabalhos</h1>
    </div>
    <div id="conteudo">
        <div id="Item">
            <a id="link" href="/">
                <img id="imagemTrabalhos" src="../static/public/placeholderImagem.png" alt="placeholderImagem">
                <h3>Trabalho 1</h3>
                <p id="trabTexto">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus fuga animi dolorum facilis, natus atque reprehenderit labore deleniti nobis laborum voluptate dolores incidunt, quisquam accusantium voluptatibus ipsam tenetur ea non!
                </p>
            </a>
        </div>
        <div id="Item">
            <a id="link" href="/">
                <img id="imagemTrabalhos" src="../static/public/placeholderImagem.png" alt="placeholderImagem">
                <h3>Trabalho 2</h3>
                <p id="trabTexto">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus fuga animi dolorum facilis, natus atque reprehenderit labore deleniti nobis laborum voluptate dolores incidunt, quisquam accusantium voluptatibus ipsam tenetur ea non!
                </p>
            </a>
        </div>
        <div id="Item">
            <a id="link" href="/">
                <img id="imagemTrabalhos" src="../static/public/placeholderImagem.png" alt="placeholderImagem">
                <h3>Trabalho 3</h3>
                <p id="trabTexto">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus fuga animi dolorum facilis, natus atque reprehenderit labore deleniti nobis laborum voluptate dolores incidunt, quisquam accusantium voluptatibus ipsam tenetur ea non!
                </p>
            </a>
        </div>
        <div id="Item">
            <a id="link" href="/">
                <img id="imagemTrabalhos" src="../static/public/placeholderImagem.png" alt="placeholderImagem">
                <h3>Trabalho 4</h3>
                <p id="trabTexto">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus fuga animi dolorum facilis, natus atque reprehenderit labore deleniti nobis laborum voluptate dolores incidunt, quisquam accusantium voluptatibus ipsam tenetur ea non!
                </p>
            </a>
        </div>
        <div id="Item">
            <a id="link" href="/">
                <img id="imagemTrabalhos" src="../static/public/placeholderImagem.png" alt="placeholderImagem">
                <h3>Trabalho 5</h3>
                <p id="trabTexto">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus fuga animi dolorum facilis, natus atque reprehenderit labore deleniti nobis laborum voluptate dolores incidunt, quisquam accusantium voluptatibus ipsam tenetur ea non!
                </p>
            </a>
        </div>
        <div id="Item">
            <a id="link" href="/">
                <img id="imagemTrabalhos" src="../static/public/placeholderImagem.png" alt="placeholderImagem">
                <h3>Trabalho 6</h3>
                <p id="trabTexto">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus fuga animi dolorum facilis, natus atque reprehenderit labore deleniti nobis laborum voluptate dolores incidunt, quisquam accusantium voluptatibus ipsam tenetur ea non!
                </p>
            </a>
        </div>
    </div>
    {% endblock %}
</body>
</html>