{% extends "base.html" %}

<body>
    {% block conteudo %}
    
    <div id="tituloExperiencias">
        <h1>Trabalhos</h1>
    </div>
    <div id="conteudo">
        <div id="Item">
            <a id="link" href="https://drive.google.com/drive/folders/18RuIaIR7U8Tp7ftOaj3Hd7pGh7KWZedd?usp=share_link">
                <img id="imagemTrabalhos" src="../static/public/polen.png" alt="placeholderImagem">
                <h3>Projeto Polén</h3>
                <p id="trabTexto">
                    Pólen é um jogo, ainda não terminado, de estilo visual novel. Nele a protagonista é uma professora que passa dificuldades com as políticas de uma nova ditadura militar. 
                </p>
                <br>
                <p id="trabTexto">
                    Sou responsável por toda parte de programação (linguagem C#) e pelo uso da engine Unity.
                </p>
            </a>
        </div>
        <div id="Item">
            <a id="link" href="https://github.com/EquipeAPI/API-1DSM-2022">
                <img id="imagemTrabalhos" src="../static/public/Tela banco guará.png" alt="placeholderImagem">
                <h3>Banco Guará</h3>
                <p id="trabTexto">
                    Projeto de um sistema bancário, produzido como um trabalho de conclusão de semestre para a FATEC São José dos Campos.
                </p>
                <br>
                <p id="trabTexto">
                    Faço parte da equipe de desenvolvimento backend (linguagem python e mysql)
                </p> 
            </a>
        </div>
    </div>    
    {% endblock %}
</body>
</html>